
.d-flex {
    width: 330px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;

}

.nav-item {
    margin-left: 50px;
    align-items: center;
    display: flex;
}
.nav-link {
    color: black;

}

a {
    color: black;
}

input {

    width: 770px;
    border-radius: 10px;
    outline: none;
}

.fa-solid, .fas {
    margin-right: 10px;
}


main .dropdown{
    display: grid;
    justify-content: space-around;
    text-align: center;

}
ul{
    display: flex;
}

.containerr{
    padding: 0;
    margin-bottom: 299px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;


}
.containerr img{
    width: 200px;
    height: 200px;
}
.containerr .produto{
    width: 270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.091), 0 6px 15px 0 rgba(0, 0, 0, 0.3);
}
.containerr .produto input{
    width: 160px;
    height: 40px;
    margin-top: 10px;

    border: none;
    background-color: #4adf8d;
    color: white;
    transition: all 0.3s ease-in-out 0.1s;
}
.containerr .produto input:hover{
    background-color: #ffffff;
    color: #54d00d;
    border: 2px solid #4adf8d;
}    
.containerr .produto h2{
    margin: 0;
    margin-top: 20px;
}
.containerr .produto p{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 25px;
    color: #459500;
}   
.classi{
    display: flex;
}
.fa-solid, .fas {
    margin-right: 10px;
}

header button{

    background-color: white !important;

}

.btn-outline-success {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #198754;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
    border-radius: 50px;
}

.d-flex {
    width: 330px;
    background-color: #ffffff;
    border-radius: 90px;
    border: 2px solid #D94D4D;
}



.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #D94D4D !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #D94D4D !important;
}

header i{
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255 255 255);
}

.navbar-brand {

    color: white;

}

.nav-link {
    color: white;

}
.voltar{
    width: 80%;
    margin-left: 2%;
}
.voltar i{
    color: black;   
}

header img{
    width: 80px;
    margin-right: 30px;
    background-color: white;
    border-radius: 50px;
}

.me-2 {
    border: none;
    border-radius: 50px;
}
button i{
    color: black;
}
footer {
    display: grid;
    justify-content: space-around;
    height: 58px;
    align-items: center;
    color: white;
    background-color: #D94D4D;
}

p{
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 58px;

}

main{
    display: grid;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 425px
}
main input {
    width: 100px;
    border-radius: 10px;
}

.cat{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

main .form-group {
    margin-bottom: 15px;
}

main label {
    display: block;
    margin-bottom: 5px;
}

main input[type="text"],
main input[type="file"],
main select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

main button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

main button:hover {
    background-color: #0056b3;
}
