

.d-flex {
    width: 330px;
    background-color: #ffffff;
    border-radius: 90px;
    border: 2px solid #D94D4D;
}

.me-2 {
    border: none;
    border-radius: 50px;
}

.nav-item {
    margin-left: 50px;
    align-items: center;
    display: flex;
}

.nav-link {
    color: black;

}

a {
    color: black;
}

input {
    border: none;
    width: 770px;
    border-radius: 10px;
    outline: none;
}

.fa-solid, .fas {
    margin-right: 10px;
}

.classi{
    display: flex;
}
.fa-solid, .fas {
    margin-right: 10px;
}

header button{

    background-color: white !important;

}

.btn-outline-success {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #198754;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
    border-radius: 50px;
}
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    color: black;
}

i{
    color: black;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #D94D4D !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #D94D4D !important;
}

header i{
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255 255 255);
}

.navbar-brand {

    color: white;

}

.nav-link {
    color: white;

}
.voltar{
    width: 80%;
    margin-left: 2%;
}
.voltar i{
    color: black;   
}

header img{
    width: 80px;
    margin-right: 30px;
    background-color: white;
    border-radius: 50px;
}


main{
    margin-bottom: 320px;
}


.compras-tudo {
    font-family: Arial, sans-serif;
    margin: 20px;
}


.compras-tudo h1 {
    color: #333;
    font-size: 24px;
}

.compras-1 {
    margin-top: 10px;
}

.compras {
    border: 1px solid #ccc;
    margin-bottom: 1px;
}
.compras-2 {
    padding: 5px;
}

.compras-2 h2 {
    font-size: 18px;
    color: #333;
}

.compras-2 p {
    color: #626;
    margin-bottom: 5px;
}

.compras-2 h3 {
    color: #008000; 
    font-size: 16px;
    margin-bottom: 5px;
}


.compras-2 .preco {
    font-weight: bold;
    font-size: 18px;
    color: #008000; 
}

footer {
    display: grid;
    justify-content: space-around;
    height: 58px;
    align-items: center;
    color: white;
    background-color: #D94D4D;
}

footer p {
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 58px;

}